<nav class="flex nav">
  <span style="margin-left: 5em" class="bold">
    <a style="font-size: 1.5em; letter-spacing: 5px" href="#">XYZ_Event</a>
  </span>
  <div style="margin-right: 5em" class="nav-items flex">
    <button (click)="move()" class="btn">REGISTER</button>
    <i (click)="toggleSidebar()" class="nav-items-item icon ri-menu-line"></i>
  </div>
</nav>
<div class="sidebar">
  <a href="#home" (click)="hideSidebar()" class="sidebar-item">Home</a>
  <a href="#events" (click)="hideSidebar()" class="sidebar-item"
    >Event Details</a
  >
  <a href="#sponsors" (click)="hideSidebar()" class="sidebar-item">Sponsors</a>
  <a routerLink="/team" (click)="hideSidebar()" class="sidebar-item">Team</a>
</div>
<div
  (click)="toggleSidebar()"
  id="sidebar-backdrop"
  class="sidebar-backdrop"
  style="display: none"
></div>
