<div class="register">
  <h1 class="bold">CLOUD QUIZ</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
    incidunt necessitatibus eos! Vitae hic sunt amet. Repudiandae quae, ipsum
    veritatis commodi esse velit, asperiores, quasi id ipsam atque autem sequi?
    Voluptas dolor delectus labore ducimus. Amet aliquid dicta quae laboriosam
    nobis cupiditate quasi inventore quo facilis debitis similique, illum
    architecto!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
    exercitationem officia ipsum voluptates odit debitis doloremque
    necessitatibus, rerum dolores aut, voluptate optio et earum, recusandae
    iusto. Ipsam neque cumque sit sed. Quos distinctio iste, sapiente modi unde,
    eum cupiditate consectetur dolor, sint officiis porro veritatis! Sequi et
    aliquid dicta incidunt?
  </p>

  <div class="form">
    <div class="twelve columns">
      <input
        class="u-full-width"
        type="email"
        placeholder="Enter your name..."
      />
    </div>
    <div class="twelve columns">
      <input
        class="u-full-width"
        type="email"
        placeholder="Enter your email..."
      />
    </div>
    <div class="twelve columns">
      <input
        class="u-full-width"
        type="email"
        placeholder="Enter your phone..."
      />
    </div>
    <div class="twelve columns">
      <input
        class="u-full-width"
        type="email"
        placeholder="Enter your section..."
      />
    </div>
    <div class="row">
      <div class="six columns">
        <button class="btn u-full-width">Reset</button>
      </div>
      <div class="six columns">
        <button class="button-primary u-full-width">Submit</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
