<div class="footer">
  <div class="six columns">
    <h4>FOLLOW US</h4>
    <a href="https://www.instagram.com/aditya__tripathi__hu" target="_blank">
      <p>Instagram</p>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100053478395991"
      target="_blank"
    >
      <p>Facebook</p>
    </a>
  </div>
  <div class="six columns">
    <h4>SITEMAP</h4>
    <p>
      <a href="#">Home</a>
    </p>
    <p>
      <a href="#events">Event Details</a>
    </p>
    <p>
      <a href="#about">About Us</a>
    </p>
    <p>
      <a href="#sponsors">Sponsors</a>
    </p>
    <p>
      <a routerLink="/team">Team</a>
    </p>
  </div>
</div>
